includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 8
    bootstrapFiles:
        - tests/static-analysis/constants.php
    paths:
        - plugin/src
    tmpDir: .phpstan-cache
    treatPhpDocTypesAsCertain: false
